<div class="imagem-fundo">

  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-right">

        <div id="navbar-menu">
          <ul class="heroes">
            <li>
              <a routerLink="/atividades">
                <span class="badge">01</span>
                <span class="name">Atividades</span>
              </a>
            </li>

            <li>
              <a routerLink="/moedas">
                <span class="badge">02</span>
                <span class="name">Moedas</span>
              </a>
            </li>

            <li>
              <a routerLink="/recompensas">
                <span class="badge">03</span>
                <span class="name">Recompensas</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>





  <router-outlet></router-outlet>


</div>